<mat-toolbar class="toolbar" color="primary">
  <span>Sensores</span>
</mat-toolbar>
<div class="container" *ngIf="central">
    <ng-container *ngIf="central.fireCentral.smokeSensors as smokeSensors">
      <h3 class="title">Sensor Fumaça</h3>
      <app-smoke-sensor-control 
        class="sensor"
        *ngFor="let smokeSensor of smokeSensors"
        [sensor]="smokeSensor"></app-smoke-sensor-control>
    </ng-container>

    <ng-container *ngIf="central.fireCentral.temperatureSensors as temperatureSensors">
      <h3 class="title">Sensor Temperatura</h3>

      <app-temperature-sensor-control
        class="sensor"
        *ngFor="let temperatureSensor of temperatureSensors"
        [sensor]="temperatureSensor"></app-temperature-sensor-control>
    </ng-container>
    
    <ng-container *ngIf="central.thiefCentral.movimentSensors as movimentSensors">
      <h3 class="title">
        Sensor Ladrão
        <button
        class="button"
        mat-raised-button color="primary"
        (click)="changeThiefCentralAlarmState(central.thiefCentral.alarm.active)">
          {{ central.thiefCentral.alarm.active ? 'Desativar alarme' : 'Ativar alarme' }}
        </button>
      </h3>
      <app-moviment-sensor-control 
        class="sensor"
        *ngFor="let movimentSensor of movimentSensors"
        [sensor]="movimentSensor"
        [alarmStatus]="central.thiefCentral.alarm.active"></app-moviment-sensor-control>
    </ng-container>
</div>
