<mat-toolbar class="toolbar" color="primary">
  <span>Central</span>
</mat-toolbar>
<div class="container" *ngIf="(central$ | async) as central">
  <ng-container *ngIf="central?.fireCentral as fireCentral">
    <div *ngIf="fireCentral.smokeSensors" class="app-sensors-list">
      <h3 class="title">Sensores de fumaça</h3>
      <app-smoke-sensor
        class="sensor"
        *ngFor="let smokeSensor of fireCentral.smokeSensors"
        [sensor]="smokeSensor"></app-smoke-sensor>
    </div>
    <div *ngIf="fireCentral.temperatureSensors" class="app-sensors-list">
      <h3 class="title">Sensores de temperatura</h3>
      <app-temperature-sensor
        class="sensor"
        *ngFor="let temperatureSensor of fireCentral.temperatureSensors"
        [sensor]="temperatureSensor"></app-temperature-sensor>
    </div>
  </ng-container>
  <ng-container *ngIf="central?.thiefCentral as thiefCentral">
    <div *ngIf="thiefCentral.movimentSensors" class="app-sensors-list">
      <h3 class="title">Sensores de movimento</h3>
      <app-moviment-sensor
        class="sensor"
        *ngFor="let movimentSensor of thiefCentral.movimentSensors"
        [sensor]="movimentSensor"></app-moviment-sensor>
    </div>
  </ng-container>
</div>
