.app-temperature-sensor {
  display: grid;
  grid-template-columns: 1fr auto;

  & > .name {
    margin-bottom: 4px;
  }

  & > .temperature {
    margin-bottom: 0;
  }

  /* Variants */
  &.-active {
    background-color: red;

    & > .name {
      color: white;
    }

    & > .temperature {
      color: white;
    }
  }
}
